<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appraisal">

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Appraisal">
        <activity android:name=".UI.main_menu.qr_scanner.CameraScanResult"></activity>
        <activity android:name=".UI.main_menu.qr_scanner.CameraScanner" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD4UH--Vik76Id6If-pomOq18k1F7TjV-o" />

        <activity android:name=".UI.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UI.main_menu.subscription.ExpSubscriptionActivity" android:label="My Subscriptions"></activity>
        <activity android:name=".UI.main_menu.forum.ForumRepliesActivity" android:label="Forum Replies">
        </activity>
        <activity
            android:name=".UI.main_menu.my_experiment.MyExperimentActivity"
            android:label="My Experiments" />
        <activity android:name=".UI.trial.BinomialActivity" />
        <activity android:name=".UI.trial.CounterActivity" />
        <activity android:name=".UI.trial.MeasurementActivity" />
        <activity android:name=".UI.trial.NonNegIntCountActivity" />
        <activity android:name=".UI.main_menu.specific_experiment_details.details.trial_list.ViewTrialActivity" />
        <activity
            android:name=".UI.main_menu.my_experiment.PublishExpActivity"
            android:label="Publish Experiment">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UI.main_menu.my_experiment.MyExperimentActivity" />
        </activity>

        <activity
            android:name=".UI.main_menu.user_profile.EditProfileActivity"
            android:label="Edit Profile"></activity>
        <activity
            android:name=".UI.main_menu.user_profile.UserProfileActivity"
            android:label="Profile">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UI.main_menu.subscription.ExpSubscriptionActivity" />
        </activity>
        <activity android:name=".UI.main_menu.specific_experiment_details.SpecificExpActivity"></activity>
        <activity android:name=".UI.main_menu.search.SearchActivity"></activity>
        <activity android:name=".UI.geolocation.GeolocationActivity" android:label="Binomial Trial #2"></activity>
    </application>

</manifest>